.friends-list-container {
  border: 1px solid #ddd;
  width: 40vw;
  min-width: 345px;
  height: 445px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.friends-list-header {
  background-color: #ddd;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sort-icon {
  margin-left: 6px;
}

.info-icon {
  margin-right: 9px;
}

.no-friends-text {
  height: 70%;
  align-items: center;
  justify-content: center;
  display: flex;
  color: #4a90e2;
}

.content {
  height: 100%;
}
